@import url('https://fonts.googleapis.com/css2?family=Amaranth&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarala&family=Tangerine:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Suez+One&display=swap');


html{
    margin: 0;
    padding: 0;  
    overflow: auto;  
    background-color: #FBFCFF;      
}

.borderDiv{
  position: relative; 
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: 70px 45px 150px 1400px 350px;
  gap: 10px;  
  width: 100%;     
  color: #223843;          
}

.header{
  grid-row-start: 1;
  position: relative;
  display: flex;    
  justify-content: space-between;
  align-items: center;  
  width: 97%;  
  justify-self: center; 
  background-color: transparent;     
}

.header .logo{
  font-size: 38px;
  font-family: 'Amaranth', sans-serif;      
}

.header .cart_and_accont{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 180px;  
  font-family: 'Staatliches', cursive;
}

.header .cart_and_accont .cart a{    
  color: #223843;  
  font-size: 20px;
  font-family: inherit;
  text-decoration: none;    
}

.header .cart_and_accont .cart a:hover{
  cursor: pointer;
  color: #68B0AB;
}

.header .cart_and_accont .Account a{  
  color: #223843;  
  font-size: 20px;    
  font-family: inherit;
  text-decoration: none;    
}

.header .cart_and_accont .Account a:hover{
  cursor: pointer;
  color: #68B0AB;
}

/* Navbar container */
.navbar {
  grid-row-start: 2;
  position: relative;
  display: flex;
  align-items: center;  
  width: 97%;         
  justify-self: center; 
  font-family: 'Staatliches', cursive;      
}

/* Links inside the navbar */
.navbar a {  
  font-size: 20px;
  color: #223843;  
  text-align: center;  
  text-decoration: none;  
}

/* Dropdown container */
.dropdown{
  position: relative;
  margin-left: 40px;    
}

/* Dropdown button */
.dropdown .dropbutton {
  font-size: 20px;
  color: #223843;     
  font-family: inherit;     
}

/* Add a green background color to navbar links on hover */
.navbar a:hover, .dropbutton {
  color: #68B0AB;
  cursor: pointer;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none; /*inline, block, inline-block*/
  position: absolute; /*static, relative, fixed, absolute, sticky*/
  background-color: #f9f9f9;
  width: max-content;
  left: -10px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 5%;    
  z-index: 1; /*image infront or behind text*/
}

/* Links inside the dropdown */
.dropdown-content a {
  font-size: 20px;
  color: #223843; 
  padding: 12px 15px 12px 10px;    
  display: block;
  text-align: left;
  border-radius: 5%;
  text-decoration: none;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #EDDDD4;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block; /*inline, none, block, inline-block*/
}

.Banner{
    grid-row-start: 3;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Banner .title{
    font-size: 60px;
    font-family: 'Suez One', serif;
}

.background{
    grid-row-start: 4;
    position: relative;
    width: 100%;
    justify-items: center;
    background-color: transparent;
    display: grid;
    grid-template-rows: 450px 450px 450px;
    grid-template-columns: 1fr 1fr 1fr;
    
}

.item{
    filter: drop-shadow(0px 20px 12px #d3d3d3);     
    width: 300px;
    height: 350px;
    position: relative;
    top: 30px;
    background-color: rgb(255, 125, 125);
    border-radius: 5%;
}

.item h1{
    position: relative;
    font: 25px/1.5 'Amaranth', sans-serif;  ;
    left: 15px;
}

.item h2{
    position: relative;
    font: 18px/1.5 'Amaranth', sans-serif;  
    height: 0px;
    left: 15px;
}

.footer{
    grid-row-start: 5;
    position: flex;
    flex-direction: row;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;     
    width: 100%;    
    color: #EDDDD4;   
    background-color: #223843;   
    bottom: 0px;   
  }
  
  .footer .section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .footer .section:nth-child(1){
    font-size: 38px;
    font-family: 'Amaranth', sans-serif;    
  }
  
  .footer .section:nth-child(1) img{
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(108deg) brightness(105%) contrast(104%);
  }
  
  .footer .section:nth-child(2){
    font-size: 25px;
    font-family: 'Staatliches', cursive;  
  }
  
  .footer .section:nth-child(2) .member-title{
    text-decoration: underline;
  }
  
  .footer .section:nth-child(2) .member-list li{
    font-size: 20px;
    text-align: center;
    list-style: none;
  }
  
  .footer .section:nth-child(3){    
    font-family: 'Staatliches', cursive;  
  }
  
  .footer .section:nth-child(3) .contact-title{
    font-size: 25px;
    text-decoration: underline;
  }
  
  .footer .section:nth-child(3) .contact-list li{
    font-size: 20px;
    text-align: center;
    list-style: none;
  }
  

