@import url('https://fonts.googleapis.com/css2?family=Amaranth&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarala&family=Tangerine:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Suez+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overlock&display=swap');

html {
    margin: 0;
    padding: 0;
    overflow: auto;
    background-color: #FBFCFF;
}

.BEheader {
    display: flex;
    align-items: center;
    width: 100%;
    height: 75px;
    background-color: #223843;
    font-family: 'Amaranth', sans-serif;
}

.logo {
    margin-left: 25px;
    font-size: 35px;
}

.logo a {
    color: #FBFCFF;
    text-decoration: none;
}

.mainGrid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.sideBar {
    margin-top: 10px;
    padding-left: 10px;
    background-color: white;
    width: 200px;
}

.NavCard {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 50%;
}

.NavCard a {
    font-size: 20px;
    font-family: 'Staatliches', cursive;
    color: #223843;
    text-decoration: none;
}

.NavCard a:hover {
    cursor: pointer;
    color: #68B0AB;
}

.BEmain {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0px 40px 0px;
    width: 100%;
}

.productsTable {
    border-collapse: collapse;
    width: 80%;
    font-family: 'Overlock', cursive;
}

.productsTable th,
td {
    padding: 20px 20px;
    border: 1px solid rgba(0, 0, 0, .125);
    text-align: center;
}

.p7Buttons {
    font-family: 'Overlock', cursive;
    margin: 20px 0px 20px 0px;
    width: 250px;
    height: 50px;
    background-color: #223843;
    border-radius: 10px;
    cursor: pointer;
    transition: all 150ms ease-out;
}

.p7Buttons:active {
    transform: scale(0.97);
}

.p7Buttons a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FBFCFF;
    text-decoration: none;
    font-size: 16px;
    height: 100%;
    width: 100%;
}

.productForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 80%;
    font-family: 'Overlock', cursive;
    border: 1px solid rgba(0, 0, 0, .125);
}

.productForm h1 {
    align-self: center;
    color: #223843;
}

.productForm input {
    width: 100%;
    height: 30px;
    font-style: italic;
    border-radius: 3px;
    border: 2px solid #ccc;
}

.productForm label {
    font-weight: bold;
    align-self: flex-start;
    margin: 25px 0px 25px 0px;
}

.p8Buttons {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 5px;
    margin-top: 25px;
    width: 100%;
}

.p8Buttons button {
    background-color: #223843;
    border: none;
    color: #FBFCFF;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    width: 100%;
}

/*page 11, 12*/
.ordersTable {
    border: 1px solid #FBFCFF ;
    border-collapse: collapse;
    width: 80%;
    font-family: 'Overlock', cursive;
    text-align: center;
}
.ordersTable th, td {
    padding: 20px 20px;
    border: 1px solid #dddddd;
    text-align: center;
}

.ordersTable input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

.ordersTable input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #223843;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid #FBFCFF;
}

.p11buttons{
    display: block;
    flex-direction: row;
    justify-content: space-between;
  }
 .p11buttons a{
    background-color: #FBFCFF;
    border: none;
    color: #223843;
    padding: 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    width: 200px;
    font-family: 'Overlock', cursive;
  }

  .p11buttons a:hover{
      cursor: pointer;
      color:#68B0AB;
  }

  .p11buttons a:active{
    transform: translateY(4px);
  }

  .orderForm {
    border-radius: 5px;
    padding: 20px;
}

.orderForm input[type=number], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.orderForm input[type=submit] {
    width: 100%;
    background-color:  #223843;
    color: #FBFCFF;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font:15px/1.5 'Amaranth', sans-serif;
}
  
.orderForm input[type=submit]:hover {
    background-color: #223843;
  }

.orderForm input[type=submit]:active{
  transform: translateY(4px);
  }

@media (max-width: 800px) {
    .mainGrid {
        flex-direction: column;
    }

    .sideBar {
        width: 100%;
        height: 200px;
        padding-left: 0px;
    }

    .NavCard {
        text-align: center;
        height: 100%;
    }

    .productsTable {
        width: 100%;
    }

    .ordersTable{
        width: 100%;
    }
}

@media (max-width: 525px) {
    .tableHeadings {
        display: none;
    }

    table,
    tbody,
    th,
    td,
    tr {
        display: block;
    }

    tr {
        border: 1px solid #223843;
    }

    tr {
        margin-bottom: 70px;
    }

    td {
        position: relative;
        display: grid;
        grid-auto-flow: row;
        justify-content: flex-end;
        align-items: center;
        font-family: 'Overlock', cursive;
    }

    td::before {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        height: 100%;
        width: 50%;
        border-right: 1px solid #223843;
    }

    td:nth-of-type(1):before {
        content: "ID";
    }

    td:nth-of-type(2):before {
        content: "Image";
    }

    td:nth-of-type(3):before {
        content: "Name";
    }

    td:nth-of-type(4):before {
        content: "Quantity";
    }

    td:nth-of-type(5):before {
        content: "";
    }
}

/* 
.BEfooter {
  position: relative;
  width: 100%;
  height: 75px;
  background-color: #223843;
  bottom: 0;

} */

/*
.header{
  grid-row-start: 1;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 97%;
  justify-self: center;
  background-color: transparent;
}

.header .logo{
  font-size: 38px;
  font-family: 'Amaranth', sans-serif;
}


.footer{
  grid-row-start: 5;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  color: #EDDDD4;
  background-color: #223843;
}
*/
