@import url('https://fonts.googleapis.com/css2?family=Amaranth&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarala&family=Tangerine:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Suez+One&display=swap');

html{
    margin: 0;
    padding: 0;  
    overflow: auto;  
    background-color: #FBFCFF;      
}

.borderDiv{
  position: relative; 
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: 70px 45px 400px 800px 350px;
  gap: 10px;  
  width: 100%;     
  color: #223843;          
}

.header{
  grid-row-start: 1;
  position: relative;
  display: flex;    
  justify-content: space-between;
  align-items: center;  
  width: 97%;  
  justify-self: center; 
  background-color: transparent;     
}

.header .logo{
  font-size: 38px;
  font-family: 'Amaranth', sans-serif;      
}

.header .cart_and_accont{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 180px;  
  font-family: 'Staatliches', cursive;
}

.header .cart_and_accont .cart a{    
  color: #223843;  
  font-size: 20px;
  font-family: inherit;
  text-decoration: none;    
}

.header .cart_and_accont .cart a:hover{
  cursor: pointer;
  color: #68B0AB;
}

.header .cart_and_accont .Account a{  
  color: #223843;  
  font-size: 20px;    
  font-family: inherit;
  text-decoration: none;    
}

.header .cart_and_accont .Account a:hover{
  cursor: pointer;
  color: #68B0AB;
}

/* Navbar container */
.navbar {
  grid-row-start: 2;
  position: relative;
  display: flex;
  align-items: center;  
  width: 97%;         
  justify-self: center; 
  font-family: 'Staatliches', cursive;      
}

/* Links inside the navbar */
.navbar a {  
  font-size: 20px;
  color: #223843;  
  text-align: center;  
  text-decoration: none;  
}

/* Dropdown container */
.dropdown{
  position: relative;
  margin-left: 40px;    
}

/* Dropdown button */
.dropdown .dropbutton {
  font-size: 20px;
  color: #223843;     
  font-family: inherit;     
}

/* Add a green background color to navbar links on hover */
.navbar a:hover, .dropbutton {
  color: #68B0AB;
  cursor: pointer;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none; /*inline, block, inline-block*/
  position: absolute; /*static, relative, fixed, absolute, sticky*/
  background-color: #f9f9f9;
  width: max-content;
  left: -10px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 5%;    
  z-index: 1; /*image infront or behind text*/
}

/* Links inside the dropdown */
.dropdown-content a {
  font-size: 20px;
  color: #223843; 
  padding: 12px 15px 12px 10px;    
  display: block;
  text-align: left;
  border-radius: 5%;
  text-decoration: none;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #EDDDD4;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block; /*inline, none, block, inline-block*/
}

/*Center page hello message header, width and margins of how much space we want the center message to be*/
.openingMessage {
  grid-row-start: 3;
  position: relative;  
  display: flex;
  justify-content: center;
  align-items: center;  
  flex-wrap: wrap;
  color: #FBFCFF;  
  width: 100%;    
}

/*Center page hello message*/
.openingMessage .opening{    
  font-size: 130px;   
  height: 0px;
  border: 1px solid #EDDDD4;    
}

.openingMessage .opening .one{		
  font-family: 'Tangerine', cursive;       
}

.openingMessage .opening .two{	
  font-family: monospace;       
}

/*Center page user message*/
.openingMessage .subOpening {  
	font-size: 28px;
  font-family: monospace;
  font-variant: small-caps;	
  border-block-start: 1px solid #EDDDD4;    
}

.pictures{  
  position: absolute;   
  height: 400px;  
  width: 100%;    
  background-color: #223843;  
  overflow: hidden;  
  z-index: -10;
} 

.pictures .picture{                
    background-image: url("https://cdn.shortpixel.ai/client/q_glossy,ret_img,w_1200,h_800/https://www.foodiesfeed.com/wp-content/uploads/2019/10/eating-granola-with-fresh-fruits.jpg");  
    background-size: cover;    
    background-repeat: no-repeat; 
    background-position: center center;
    background-size: 1600px, 100px;      
    width: 100%;
    height: 400px;                   
    filter: opacity(20%);      
}

.middle{
  grid-row-start: 4;
  position: relative;  
  display: flex;
  justify-content: center;
  align-items: center;      
  width: 100%;
  background-color: #EDDDD4;         
}

.middle-container{
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 100%;
  width: 70%; 
  overflow: hidden;       
}

.middle-container-gradient{
  position: absolute;
  height: 100%;
  width: 70%;
  box-shadow: 0 0 50px 50px #EDDDD4 inset;    
}

.carousel{
  position: relative;
  display: flex;    
  align-items: center;
  height: 100%;
  width: 470px;    
}

.list-container{        
  position: relative;
  display: flex;        
  align-items: center;        
  padding: 0;    
  transition: transform 0.8s;   
  transition-timing-function: cubic-bezier(0.4, 1, 1.4, 1);    
}

.list{        
  position: relative;  
  display: flex;    
  align-items: center;  
  justify-content: center;
  list-style: none;      
  right: 0px;
  padding: 0px 300px 0px 0px;     
  opacity: 0.3;      
  transition: opacity 0.4s ease-in;    
}

.list-pic{
  height: 600px;
  width: 470px;
  border-radius: 5%; 
  filter: drop-shadow(10px 10px 15px #d69a78);   
  object-fit: cover;
}

.texts{
  position: absolute;        
  width: 100%;     
  font-size: 50px;  
  font-family: 'Tangerine', cursive;     
  text-align: end;  
}


.middleText{  
  position: absolute;
  width: 100%;    
}

.middleText pre{
  font-size: 55px;
  font-family: 'Suez One', serif;
}

.button-container{
  position: absolute;
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
  width: 100%;  
  overflow: hidden  
}

.button{
  height: 100%;
  width: 50%;       
}

.cursors{ 
  position: absolute;
  background-image: url("./icons/right-arrow.svg");
  background-size: cover;    
  background-repeat: no-repeat;            
  height: 130px;
  width: 130px;   
  opacity: 0;
  transform: scale(0.1, 0.1);
  filter: invert(19%) sepia(3%) saturate(6424%) hue-rotate(156deg) brightness(93%) contrast(91%);
  transition: height 0.2s, width 0.2s, opacity 0.4s, transform 0.3s ease-in-out;    
}


/* 
.FoodCategories #message{
    position: relative;
    text-align: center;
    font: 100 32px/1.5 Helvetica, Verdana, sans-serif;
    top: 60px;
    height: 50px;
    border: 3px solid white;
    background-color: white;
    color: black;
    
}

.background{
    position: relative;
    width: 100%;
    height: 610px;
    top: 40px;    
    background-color: transparent;
    
}

.fruits{
    box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    height: 500px;
    position: absolute;
    top: 30px;
    left: 60px;
    border: 1px solid black;
    background-color: white;
}

.meat{
    box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    height: 500px;
    position:absolute;
    top: 30px;
    left: 420px;
    border: 1px solid black;
    background-color: white;
    
}

.dairy{
    box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    height: 500px;
    position:absolute;
    top: 30px;
    left: 780px;
    border: 1px solid black;
    background-color: white;
    
}

.fruits h1{
    font: 30px/1.5 Helvetica, Verdana, sans-serif;
    text-align: center;
    height: 70px;
}

.meat h1{
    font: 30px/1.5 Helvetica, Verdana, sans-serif;
    text-align: center;
    height: 70px;
}

.dairy h1{
    font: 30px/1.5 Helvetica, Verdana, sans-serif;
    text-align: center;
    height: 70px;
}

.fruits h2{
    font: 100 20px/1.5 Helvetica, Verdana, sans-serif;
    text-align: left;
    height: 70px;
    border: 1px solid black;
}

.meat h2{
    font: 100 20px/1.5 Helvetica, Verdana, sans-serif;
    text-align: left;
    height: 70px;
    border: 1px solid black;
}

.dairy h2{
    font: 100 20px/1.5 Helvetica, Verdana, sans-serif;
    text-align: left;
    height: 70px;
    border: 1px solid black;
}

.aisles{
    font: 100 20px/1.5 Helvetica, Verdana, sans-serif;
}
*/

.footer{
  grid-row-start: 5;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;     
  width: 100%;    
  color: #EDDDD4;   
  background-color: #223843;      
}

.footer .section{
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer .section:nth-child(1){
  font-size: 38px;
  font-family: 'Amaranth', sans-serif;    
}

.footer .section:nth-child(1) img{
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(108deg) brightness(105%) contrast(104%);
}

.footer .section:nth-child(2){
  font-size: 25px;
  font-family: 'Staatliches', cursive;  
}

.footer .section:nth-child(2) .member-title{
  text-decoration: underline;
}

.footer .section:nth-child(2) .member-list li{
  font-size: 20px;
  text-align: center;
  list-style: none;
}

.footer .section:nth-child(3){    
  font-family: 'Staatliches', cursive;  
}

.footer .section:nth-child(3) .contact-title{
  font-size: 25px;
  text-decoration: underline;
}

.footer .section:nth-child(3) .contact-list li{
  font-size: 20px;
  text-align: center;
  list-style: none;
}


/* footer p{
    position: absolute;
    left: 50px;
   
}
#phone{
    position: absolute;
    font: 100 20px/1.5 Helvetica, Verdana, sans-serif;
    top: 40px;
    left: 50px;
   
}
#email{
    position: absolute;
    font: 100 20px/1.5 Helvetica, Verdana, sans-serif;
    top: 70px;
    left: 50px;    
}
*/
